:root {
    font-size: 10px;
    --font-Montserrat: 'Montserrat';
    --font-Open-Sans: 'Open Sans', sans-serif;
    --font-Patua-One: 'Patua One', sans-serif;
    --font-Roboto-Condensed: 'Roboto Condensed', sans-serif;
    --header-color-border: rgba(67, 67, 67, 0.2);
    --header-item-padding-vertical: .9rem;
    --header-item-margin-horisontal: 2rem;
    --header-logo-padding-top: 40px;
    --header-logo-padding-bottom: 3rem;
    --footer-item-margin-horisontal: 3.5rem;
    --footer-padding-vertical: 6rem;
}

a {
    text-decoration: none;
}

.footer a {
    color: inherit;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
    padding: var(--header-logo-padding-top) 0 var(--header-logo-padding-bottom);
}

.header .nav {
    box-sizing: border-box;
    border: 1px var(--header-color-border) solid;
    padding: 2px 0;
}

.nav__inners {
    align-items: center;
}

.nav__inners > .nav__items {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
}

.header .nav__inners > .nav__items {
    font-family: var(--font-Montserrat);
}

.header .nav__item {
    letter-spacing: .2em;
    padding: var(--header-item-padding-vertical) 0;
    margin: 0 var(--header-item-margin-horisontal);
    border-bottom: 3px solid transparent;
}

.header .nav__item:hover {
    border-bottom: 3px solid black;
}

.banner {
    position: relative;
    background-image: url('/public/images/banner.jpeg');
    background-size: cover;
    height: 592px;
    width: 100%;
    color: white;
}

.banner::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
}

.banner__content {
    position: relative;
    color: white;
    z-index: 5;
}

.footer {
    padding: var(--footer-padding-vertical) 0;
}

.footer .nav__item {
    letter-spacing: 0;
    margin: 0 var(--footer-item-margin-horisontal);
}

.footer .nav__inners > .nav__items {
    font-family: var(--font-Open-Sans);
    font-weight: bold;
    line-height: 33px;
    justify-content: center;
}

.footer .company-name {
    text-align: center;
    font-family: var(--font-Patua-One);
    font-size: 1.6rem;
    line-height: 44px;
    letter-spacing: .2em;
}

.footer .copyright {
    text-align: center;
    font-family: var(--font-Open-Sans);
    font-size: 1.7rem;
}